$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color:#f8f8f8;
$background-color-disabled-button: #b4b4b4;
$background-color-hover-button:#ffe302;
$background-color-header:#fff;
$card-text-color: rgba(0, 0, 0, 0.87);
$error: #cb3d40;
$transition-duration: 1.2s;
